/* font-family: font-family: 'Montserrat', sans-serif;*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: #212121;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-color: #fff;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  padding-top: 26px;
}

.about {
  background-image: url(../img/top-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
}

.logo-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 26px;
}

.logo-contacts .logo__tagline {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  opacity: 0.7;
}

.logo-contacts__tel {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.7;
}

.logo-contacts__btn {
  padding: 16px 28px;
  border: 1px solid #ff5900;
  border-radius: 100px;
}

.logo-contacts__btn:hover {
  scale: 1.05;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn__content-accent {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ff5900;
}

.btn__icon {
  margin-right: 8px;
}

.border {
  border-top: 1px solid rgba(51, 51, 51, 0.1);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  padding: 32px 0;
}

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

.nav__search {
  cursor: pointer;
}

.nav__item:hover {
  color: #ff5900;
}

.menu__burger {
  display: none;
  width: 40px;
  cursor: pointer;
  height: 32px;
  padding-top: 16px;
}

.menu__burger span {
  display: block;
  height: 2px;
  background-color: #333333;
  position: relative;
}

.menu__burger span::before,
.menu__burger span::after {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #333333;
  position: absolute;
  left: 0;
}

.menu__burger span::before {
  top: 24px;
}

.menu__burger span::after {
  top: 12px;
}

.menu__burger-active span {
  height: 0;
}

.menu__burger-active span::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 12px;
}

.menu__burger-active span::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger__active {
  overflow: hidden;
}

.about {
  padding-bottom: 11%;
}

.about__img {
  display: none;
}

.about__content {
  padding-top: 15%;
  max-width: 780px;
  color: #fff;
}

.about__title {
  font-weight: 700;
  font-size: 68px;
  line-height: 110%;
  margin-bottom: 28px;
}

.about__description {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 52px;
}

.about__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__btn {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  border-radius: 100px;
  padding: 20px 40px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.about__btn:hover {
  background: #ff5900;
  border: 1px solid #ff5900;
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
}

.about__btn:not(:last-child) {
  margin-right: 32px;
}

.digital {
  padding-top: 120px;
  padding-bottom: 120px;
}

.digital__title {
  font-weight: 700;
  font-size: 38px;
  line-height: 120%;
  margin-bottom: 60px;
}

.digital__title span {
  color: #ff5900;
}

.digital__btn {
  border: 1px solid #ff5900;
  border-radius: 100px;
  padding: 16px 32px;
  color: #ff5900;
}

.digital__btn:hover {
  color: #fff;
}

.blog__posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog__post {
  position: relative;
  max-width: 360px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-details {
  position: absolute;
  top: 0;
  left: 0;
  padding: 44px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.post__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #fff;
}

.post-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  padding-bottom: 28px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.post-services {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  padding-top: 20px;
  padding-bottom: 28px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.post-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  opacity: 0.5;
  padding-top: 20px;
  padding-bottom: 28px;
}

.post-sale {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  padding-bottom: 36px;
}

.benefits__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.benefits__item {
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 55px;
}

.benefits__description {
  color: #333333;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  padding-top: 16px;
  text-align: center;
  padding: 0 10px;
}

.footer {
  background-color: #333333;
  padding-top: 100px;
  color: #fff;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item:not(:last-child) {
  margin-right: 108px;
}

.footer__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
  opacity: 0.5;
  margin-bottom: 24px;
}

.footer__menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 170%;
}

.footer__menu-link:hover {
  color: #ff5900;
}

.footer__logo {
  margin-bottom: 58px;
}

.footer .region-choice, .footer__registr {
  font-weight: 500;
  font-size: 14px;
  line-height: 170%;
  opacity: 0.5;
}

.footer .region-city {
  text-decoration: underline;
}

.footer__region {
  margin-bottom: 25px;
}

.footer__address {
  margin-top: 8px;
  margin-bottom: 12px;
}

.footer__social {
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .social-link:not(:last-child) {
  margin-right: 20px;
}

.footer .social-link:hover {
  scale: 1.1;
}

.footer__bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  color: #ffffff;
  opacity: 0.3;
}

.footer .politics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .separate {
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 1300px) {
  .about__content {
    padding-top: 10%;
  }
}

@media screen and (max-width: 1220px) {
  .about__content {
    padding-top: 10%;
  }
  .about__title {
    font-weight: 700;
    font-size: 52px;
    line-height: 110%;
    margin-bottom: 28px;
  }
  .about__description {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 46px;
  }
}

@media screen and (max-width: 1200px) {
  .nav {
    font-size: 12px;
  }
  .nav__item:not(:last-child) {
    margin-right: 34px;
  }
}

@media screen and (max-width: 1100px) {
  .nav {
    font-size: 12px;
  }
  .nav__item:not(:last-child) {
    margin-right: 30px;
  }
  .about__content {
    padding-top: 9%;
  }
  .blog__posts {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .blog__post:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .footer__item:not(:last-child) {
    margin-right: 70px;
  }
}

@media screen and (max-width: 994px) {
  .nav {
    font-size: 12px;
  }
  .nav__item:not(:last-child) {
    margin-right: 26px;
  }
  .about__content {
    padding-top: 5%;
  }
  .footer__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 40px;
  }
  .footer__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 966px) {
  .about {
    margin-top: 30px;
  }
  .about__title {
    font-size: 38px;
  }
  .container__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
  }
  .menu__burger {
    display: block;
    z-index: 100;
  }
  .header__menu {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: 10;
    padding-top: 80px;
    height: 100vh;
    width: 100%;
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .header__menu.active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    position: absolute;
    top: 0;
    z-index: 80;
  }
  .nav__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav__item {
    height: 60px;
    width: 100%;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }
  .nav__item:hover {
    background-color: #ff5900;
    color: #000;
  }
  .nav__item:hover a {
    color: #000;
  }
  .nav__link {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__link:hover {
    color: #000;
  }
  __auth-list {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  __logo {
    margin-right: 0;
  }
  .nav__search {
    display: none;
  }
  .menu__burger-active {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .logo-contacts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .logo__tagline {
    display: none;
  }
}

@media screen and (max-width: 796px) {
  .blog__posts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog__post:not(:last-child) {
    margin-right: 0;
  }
  .benefits__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .digital__title {
    text-align: center;
  }
}

@media screen and (max-width: 734px) {
  .about__description {
    margin-bottom: 30px;
  }
  .about__btn {
    padding: 16px 20px;
  }
  .digital {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer__item:not(:last-child) {
    margin-right: 40px;
    margin-bottom: 40px;
  }
  .footer__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media screen and (max-width: 700px) {
  .footer__item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 40px;
  }
  .footer__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
  }
}

@media screen and (max-width: 650px) {
  .about {
    background: none;
  }
  .about__content {
    color: #212121;
  }
  .about__btn {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ff5900;
    color: #ff5900;
    text-align: center;
  }
  .about__btn:hover {
    color: #fff;
  }
  .about__img {
    display: block;
    margin-bottom: 16px;
  }
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
  }
  .politics {
    margin-top: 14px;
  }
  .footer__logo {
    margin-bottom: 38px;
  }
}

@media screen and (max-width: 570px) {
  .logo-contacts__btn {
    margin-top: 16px;
  }
  .about__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__btn:not(:last-child) {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .about__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 440px) {
  .footer {
    padding-top: 60px;
  }
  .footer__item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 26px;
  }
  .footer__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 396px) {
  .logo-contacts__btn {
    display: none;
  }
  .logo-contacts__tel {
    margin-top: 16px;
  }
  .logo-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */